extends layout 

block content 
    h1(class='text-3xl font-bold m-2')= title 

    ul(class='list-disc list-inside')
    each author in author_list
        li
            a(href=author.url class='text-blue-600') #{author.name}
            |  (#{author.lifespan} )

    else
        li There are no authors.